body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 700;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

p{
  color: #8f8f8f;
}



#title {
  background-color: #1CC5DC;
  color: #fff;

}

.container-fluid{
  padding: 3% 15% 7%;

}

/* Navigation Bar */
.navbar{
  padding-bottom: 4.5rem;
}



.navbar-brand{
  font-family: 'Audiowide', cursive;
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item{
  padding: 0 10px;
}

.nav-link{
  font-size: 1.4rem;
}

/*Title Image  */
.title-image{
  width: 35%;
  /* transform: rotate(25deg); /*image Rotation */
  position: absolute;
  right: 15%;
  top: 25%;
}

/*Download Buttons */

.download-button{
  margin: 8% 3% 5% 0;
}

/*Features */

#features{
  padding: 7% 5%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box{
  text-align: center;
  padding: 1% 3% 1% 3%;
}

.fab{
  padding-bottom: 8%;
}

.fas{
  margin-bottom: 1rem;
}

.fas:hover{
  color: #3EDBF0;
}

.fab:hover{
  color: #3EDBF0;
}

.certificate{
  text-decoration: none;
  color: #8f8f8f;
  font-size: 0.75rem;
}


/*Testimonials Section*/

#testimonials {
  text-align: center;
  background-color: #1CC5DC;
  color: #fff;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-image{
  width: 5%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #1CC5DC;
  text-align: center;
  padding-bottom: 1%;
}

.press-logo{
  width: 15%;
  margin: 15px 15px 50px;
}

/*Skills Section*/

#skills{
  padding: 2%;
}

.skills-Box{
  text-align: center;
  padding: 3% 5% 3% 5%;
}

/*AboutMe Section*/

#aboutme{
  background-color: #1CC5DC;
  padding: 7% 15%;
  text-align: center;
  color: #fff;
}

.aboutme-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  padding: 8% 10% 1% 10%;

}

.aboutme-btn{
  margin: 5% 3% 0% 0%;
}

.interviewBtn{
  margin: 5% 0% 0% 0%;
}

/*Footer*/

#footer{
  background-color: #fff;
  text-align: center;
  padding: 7% 0% 1% 0%;
}

.footerIcons{
  padding: 0% 8px 0% 8px;
  color: gray;
}

a{
  text-decoration: none;
}

p{
  font-size: 0.75rem;
}

.IconVector{
  color: #1CC5DC;
}


@media (max-width: 1028px) {
  #title{
    text-align: center;
  }

  #testimonials{
    padding-top: 15%;
    padding-bottom: 10%;
  }

  #aboutme{
    padding: 5% 3% 5% 3%;
  }

  .title-image{
    padding-top: 10%;
    position: static;
    transform: rotate(0);
    width: 80%;
  }

  .press-logo{
    width: 25%;
    margin: 15px 15px 50px;
  }

  h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    line-height: 1.5;
    font-weight: 900;

  }

  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 700;
  }

  h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
  }

  p{
    font-size: 1.8rem;
  }

  .download-button{
    margin: 15% 2% 10% 0%;
    font-size: 3rem;
  }

  .container-fluid{
    padding: 3% 9% 0% 9%;
  }

  em{
    font-size: 1.8rem;
  }

  .footerIcons{
      width: 8%;
  }

  .navbar-brand{
    font-size: 4rem;
  }

  .navbar{
    font-size: 4rem;
    padding-bottom: 15%;
  }

  .nav-link{
    font-size: 2.5rem;
    text-align: right;
  }

  .aboutme-text{
    font-size: 2.5rem;
    font-weight: 700;
    padding: 8% 7% 3% 7%;
  }

  .imageMe{
    padding-top: 4%;
    width: 30%;
  }

  .certificate{
    text-decoration: none;
    color: #8f8f8f;
    font-weight: 700;
    font-size: 1.8rem;
  }

  .fas{
    margin-bottom: 2rem;
  }

  .testimonial-image{
    width: 10%;
  }

  .interviewBtn{
    margin: 5% 0% 2% 0%;
    font-size: 2.5rem;
  }

  #skills{
    padding: 4%;
  }

  .skills-Box{
    padding: 5% 10% 5% 10%;
  }

  .feature-box{
    padding: 5% 10% 5% 10%;
  }

}
